ion-content {
    --background: url('../../assets/bgclr.png')  no-repeat center center/cover;
}
.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;         
  }
  
  .notification-item {
    background-color: #deebe4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgba(2, 62, 2, 0.589);
    font-family: Verdana, Geneva, sans-serif; /* Change the font family as needed */
  font-size: 20px; /* Change the font size as needed */
  color: #110404;
  
  }
  