
<ion-content class="container">
  <img class="logo" src="../../assets/logo/swaplogo.png">
  <ion-card class="card" >
    <ion-card-header>
      <ion-card-title class="Title">Orders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let order of orders">
          <ion-thumbnail slot="start">
            <ion-img [src]="order.image" alt="Product Image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <ion-row class="OName">{{ order.name }}</ion-row>
            <ion-row>Seller : {{ order.seller }}</ion-row>
            <ion-row>Contact: {{ order.contact }}</ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
