
<ion-content class="page-content">
  <ion-title>Login</ion-title>
  <div class="login-form">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="login()" class="login-button">Login</ion-button>
    <ion-button expand="block" fill="clear" (click)="navigateToForgotPassword()" class="forgot-button">Forgot
      Password</ion-button>
    <ion-text color="danger" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</ion-text>
  </div>
</ion-content>
