<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home 
    </ion-tab-button>
    <ion-tab-button tab="Notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      Notifications
    </ion-tab-button>
    <ion-tab-button tab="Favourites">
      <ion-icon name="heart-outline"></ion-icon>
      Favourites
    </ion-tab-button>
    <ion-tab-button tab="Cart">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
