ion-tab-bar {
    --ion-background-color: #cce5d2; /* Example color */
  }

  ion-tab-button[selected] {
    color: #bcf0c8; /* Example color */
  }

  ion-tab-button:hover ion-icon {
    color: red;
  }