
 <div class="container" id="main-content">
    <ion-toolbar>
      <img class="logo" src="../../assets/logo/swaplogo.png">
      <ion-buttons slot="end" style="margin-right:0.1px;">
        <ion-button (click)="navigateToProductPage()">
          <img src="assets/logo/Add.png" style="width: 32px; height: 32px;">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div> 
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-content class="page-content" >
   
  <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
    <swiper-slide>
      <div class="swiper-container">
        <img src="assets/mainad.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-container">
        <img src="assets/ad1.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-container">
        <img src="assets/ad2.png" />
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="7" size-lg="8" *ngFor="let product of products">
        <ion-card>
          
          <ion-button slot="end" fill="clear" id="click-trigger"  (click)="setOpen(true)">
            <ion-icon name="bag"></ion-icon>
          </ion-button>
          

          <ion-img [src]="product.image" alt="Product Image" class="product-image"></ion-img>
          
          <ion-card-header>
            <ion-card-title class="prod-name">{{ product.name }} 
            </ion-card-title>
            <ion-card-subtitle class="prod-sub">Condition: {{ product.condition }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


