.product-image{
  width: 200px; 
  height: 125px;
  left: 10px;
}
ion-card{
  height: 800px;
}
.Modal-title{
  font-weight: bold;
  color: #032204;
}
.prod-name{
  color: #061301;
  font-weight: bold;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.T{
  padding-top: 10px;
  font-weight: bold
}
.Simage{
  padding-bottom: 24px;
}
.getbutton{
  --background: #375e37;;
  --color: #fff;
  margin: 10px 20px;
  border-radius: 10px 20px;
  box-shadow: 2px 3px 5px rgba(2, 62, 2, 0.589);
}

.prod-sub{
  font-size: 13px;
}
.detail-button{
  position: absolute;
  bottom: 23px; /* Adjust as needed */
  right: 6px; /* Adjust as needed */
  color: #032204;
}
ion-tab-bar {
    --ion-background-color: #94ae89;
  }
  
ion-content{
  --background: url('../../assets/bgclr.png')  no-repeat center center/cover;
 
}

.container{
  --background-color: #94ae89;
}


ion-tab-button ion-icon {
    color: #fff; 
  }

ion-tab-button:hover ion-icon {

    color: #363b27;
  }
  .custom-searchbar {
   --border-radius: 20px; 
  }
  
ion-card {
    --background: var(--ion-color-light);
    height: 14rem;
    margin: 0.3rem 0;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid var(--ion-color-light);

    ion-thumbnail {
        width: 100%;
        height: 10rem;
        margin-bottom: 10px;
        ion-img {
          height: 100%;
          border-radius: 8px;
        }
    }

ion-label {
        font-size: 0.9rem;
    }

ion-label, p {
        margin: 0 5px;
    }

    p {
        font-size: 0.85rem;
        margin-top: 8px;
        font-weight: 500;
        ion-text.rating {
          float: right;
          ion-icon {
            font-size: 0.8rem;
          }
        }
      }
}
  swiper-container {
    width: 720px;
    height: 280px;
  
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #363b27);

    .swiper-pagination.custom-pagination .swiper-pagination-bullet {
      background-color: var(--ion-color-step-200, #cccccc); /* Inactive color */
  }
  
  .swiper-pagination.custom-pagination .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary, #363b27); /* Active color */
  }
  }
