ion-tab-bar {
    --ion-background-color: #94ae89; /* Example color */
  }


  ion-tab-button ion-icon {
    color: #fff; /* White color by default */
  }

  ion-tab-button:hover ion-icon {
    color: #434b4b ;
  }
