ion-content {
    --background: url('../../assets/bgclr.png')  no-repeat center center/cover;
}

ion-button{
    text-transform: initial;
}

.Retrive-Pass{
    --background: #375e37;
    --background-hover: #6b916b;
    --background-activated: #375e37;
    --background-focused: #375e37;
    --color: rgb(237, 237, 243);
    --border-color: #375e37;
    --border-width: 0.1px;
    --ripple-color: #375e37;
}

.LogIn{
    --color:#375e37;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;         
  }

.login-button{
    --color:#375e37;
}

.title{
    font-weight: 700;
    --color:#345434;
    padding-left: 8px;
    padding-top: 30px;
   }

   
.subtitle{
    --color:#345434;
    padding-left: 8px;
    font-size: 13px;
   }

.email{
    --color:#5d615d;
}

.Retrive-Pass{
    padding-top: 10px;
}

.error-container {
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 6vh;            
    text-align: center;      
}
.error-message {
    font-weight: bold;        
    font-size: small;
}

