<ion-content class="page-content">
  <div class="card-container">
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="title">Forgot Password</ion-card-title>
        <ion-card-subtitle class="subtitle">Enter your email to retrive the password</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input class="email" label="Email" labelPlacement="floating" fill="fill"  [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="retrievePassword()" class="Retrive-Pass">Retrieve Password</ion-button>
        <ion-button expand="block" fill="clear" (click)="logIn()" class="login-button">Back to Log in</ion-button> 
        
        <div class="error-container">
          <ion-text color="danger" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</ion-text>
        </div>

        <div class="pass">
          <ion-text *ngIf="password">{{ password }}</ion-text>
        </div>

      </ion-card-content>
    </ion-card>   
  </div>

</ion-content>