.logo-container {
    text-align: center;
    margin: 20px 0;
  }
  ion-content {
    --background: url('../../assets/bgclr.png')  no-repeat center center/cover;} 
.logo {
    max-width: 150px;
    height: auto;
}
.custom-button {
    --ion-color-base: var(--ion-color-custom); /* Use custom color as the base color */
    --ion-color-base-rgb: 54, 59, 39; /* RGB equivalent of #363b27 */
    --ion-color-contrast: #ffffff; /* Text color */
    --ion-color-contrast-rgb: 255, 255, 255; /* RGB equivalent of #ffffff */
    --ion-color-shade: #2f3421; /* Darker shade of #363b27 */
    --ion-color-tint: #4f5541; /* Lighter tint of #363b27 */
  }
  
