.background {
  //--background: transparent; /* Set background color to transparent */
  background-image: url('../../assets/bg.png'); /* Set background image */
  background-size: fill; /* Cover the entire background */
  background-position: center; /* Center the background image */
}

.icon-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
